bones/
data/
doc/
graphics/
savegames/
summary/

lib/
test/

*~
*.bak
*.orig
Thumbs.db

*.a
*.o
*.asm
*.exe
*.dll

*.log
/*.csv

__*.*

untitled.bas

register
shipregistry.txt

highscore
highscore.dat

F1.bmp
p.pal
B5Shipnames.txt

config.txt
keybindings.txt

*.fbp
*.lnk

*.7z
*.zip
*.rar

src/prospector.bas
src/prospector_fbsound.bas
src/prospector_nosound.bas
